div#boardgame {
	padding-top: 24px;
	margin: 0px auto;
}

div#boardgame>div {
	background-color: bisque;
	background: url(/assets/img/backLogoCard.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: bisque;
	border-radius: 20px;
	box-shadow: 3px 3px 3px 3px #827575;
	width: 84px;
	height: 103px;
	float: left;
	margin: 10px;
	font-size: 64px;
	cursor: pointer;
	text-align: center;
}


.boardgame {

}

@media (max-width: 365px) {
	.boardgame{
	display: contents;
	}
}

/*.............................................................cards img*/

.backImg {
	width: 80px;
	height: 100px;
	border-radius: 20px;
	vertical-align: unset;

}
