    @import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

    html {
        height: 100%;
    }

    body {
        font-family: "Roboto", sans-serif;
        margin: auto;
        min-height: 100%;
        background-color: green;
    }

    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }

    .page-container {
        position: relative;
        min-height: 100vh;
    }

    .row {
        margin: 0;
    }



    @media (max-width: 360px) {
        .container-fluid {
            padding-right: 0px;
        }
    }



    /*.....................................................................................Header*/

    .headerRow {}

    .headerTab {
        background-color: wheightte;
        color: black;
        width: 100%;
        padding-top: 0px;
        text-align: center;
    }

    .headerContent {
        padding: 15px;
        background-color: white;
        height: 200px;
    }

    .infoMatch {
        margin: auto;
    }

    .starIcon {
        display: inline-flex;
    }

    .lowScoreStar {
        font-size: 20px;
        color: #f05322;
    }

    .midScoreStar {
        font-size: 20px;
        color: #f05322;
    }

    .highScoreStar {
        font-size: 20px;
        color: #f05322;
    }

    .infoMatch {
        min-height: 50px;
        margin: auto;
        max-height: 50px;
    }

    .click_match_bar {
        width: 100%;
        padding-bottom: 5px;
    }

    .levelBoard {
        box-shadow: 0 0 4px 1px #d320ff;
        padding: 5px;
        margin: auto;
        max-height: 50px;
        background: #cc01fe;
        color: white;
        font-weight: 500;
        border-radius: 25PX;
        max-width: 48%;
        margin-bottom: 3px;
    }

    .clickBoard {
        box-shadow: 0 0 4px 1px rgb(211, 32, 255);
        padding: 5px;
        max-width: 48%;
        max-height: 50px;
        margin: auto;
        background: #ea98ff;
        color: white;
        font-weight: 500;
    }

    .matchBoard {
        box-shadow: 0 0 4px 1px rgb(211, 32, 255);
        padding: 5px;
        max-width: 48%;
        max-height: 50px;
        margin: auto;
        background: #ea98ff;
        color: white;
        font-weight: 500;
    }

    .scoreBoard {
        box-shadow: 0 0 4px 1px rgb(211, 32, 255);
        padding-bottom: 8px;
        max-width: 48%;
        max-height: 55px;
        margin: auto;
        background: #ea98ff;
        color: white;
        font-weight: 500;
    }

    .timeBoard {
        box-shadow: 0 0 4px 1px rgb(211, 32, 255);
        padding-bottom: 8px;
        max-width: 48%;
        max-height: 55px;
        margin: auto;
        background: #ea98ff;
        color: white;
        font-weight: 500;
    }

    /*...............................................................Text, padding and centering*/

    .centeredContent {
        text-align: center;
        margin: auto;
    }
    